<section class="list-order">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <h2><%= t "orders.list_order" %></h2>
      </div>
      <div class="col-md-8 search-form-order text-right">
        <%= search_form_for [:backend, @q] do |f| %>
          <p>
            <%= f.select :status_eq, Order.status_select, include_blank: t("orders.by_status") %>
            <%= f.search_field :user_name_cont, placeholder: t("orders.user_name") %>
            <%= f.submit t("category.search") %>
          </p>
        <% end %>
      </div>
    </div>
    <table class="table table-bordered table-order">
      <thead>
        <tr class="bg-info">
          <th><%= t "orders.no" %></th>
          <th><%= t "orders.user_name" %></th>
          <th class="text-center"><%= t "orders.status" %></th>
          <th class="text-center"><%= t "orders.date_order" %></th>
          <th class="text-center"><%= t "orders.total_price" %></th>
          <th class="text-center"><%= t "orders.detail" %></th>
        </tr>
      </thead>
      <tbody>
        <%= render @orders %>
      </tbody>
    </table>
    <%= will_paginate %>
  </div>
</section>
